h1 {
    color: #660099;
    margin-top: -10px;
    margin-bottom: -5px;
    font-weight: bold;
}

h2 {
    color: #339900;
    font-weight: bold;
    padding: 12px;
}

h3 {
    color: #ff0033;
}

table {
    color: #3b413c;
    background-color: #cc33ff;
}


.plot-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 66%
}

.plot-info {
    text-align: center;
}

p.plot-info {
    font-size: 16px;
}
img {
    max-width: 100%;
    height: auto;
}

p img {
    float: right;
    padding-right: 8px;
    padding-bottom: 12px;
}

p {
    margin: 20px;
    padding: 25px;
    background-color: #009966;
}

div .btn-group-vertical {
    margin-left: 54px;
}

body {
    background-color: #ccffff;
    padding: 4px;
    margin: 4px;
}

.no-margins {
    margin-left: 0 !important
}
